.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: calc(100vh - 122px);
}
@media screen and (max-width: 1800px) {
  .grid {
    grid-template-columns: 100%;
  }
}

.container {
  margin: auto;
  width: 75%;
  margin-bottom: 30px;
}
mat-tab-group {
  animation: fadeInDownDelay 1.5s ease-out;
}
h1 {
  text-align: center;
  animation: fadeInDown 1s ease-out;
}
span {
  display: inline-block;
  text-align: justify;
  padding: 1em;
  height: 200px;
  overflow-y: auto;
}
ul {
  list-style-type: none;
  text-align: justify;
  height: 200px;
  overflow-y: auto;
  margin: 0px;
  padding: 1em;
}
li + li {
  margin-top: 5px;
}