h1 {
  text-align: center;
  animation: fadeInDown 1s ease-out;
}
.container {
  margin: auto;
  max-width: 800px;
  margin-bottom: 45px;
}
mat-tab-group {
  animation: fadeInDownDelay 1.5s ease-out;
}
span {
  display: inline-block;
  text-align: justify;
  padding: 1em;
  height: 200px;
  overflow-y: auto;
}
ul {
  list-style-type: none;
  text-align: justify;
  height: 200px;
  overflow-y: auto;
  margin: 0px;
  padding: 1em;
}
li + li {
  margin-top: 5px;
}