<br>
<h1>Personality</h1>
<div class="container">
    <div class="titled_text">
        <h3>
            Social
        </h3>
        <ul>
            <li>My favorite thing to do is think. The only way I can get bored is if I’m forced to perform certain high-stakes physical tasks like driving, or listen to people talk about stuff like sports. I always wondered why I seemed to have fewer social needs compared to others and thought it was just an autism thing, but recently I realized that I fulfill them with imaginary conversations and debates with myself. Despite my social life sounding like a human rights violation, I don’t feel lonely.</li>
            <li>Normally I’m very calm and passive, but I also laugh very easily and can’t hold a poker face.</li>
            <li>I put all my social skill points into being funny.</li>
            <li>Occasionally I can be offensive or crass, but I will never be threatening or invasive.</li>
            <li>I love to help people, but hate to perform “niceness”.</li>
            <li>One-on-one conversations are way more productive for me than group settings.</li>
            <li>I like works of art that are created by people, not robots.</li>
            <li>I am not into the idea of “opposites attract”, because I barely ever get a chance to interact with anyone similar to me.</li>
        </ul>
    </div>
</div>
<h1>Preferences</h1>
<div ngTabs>
    <div ngTabList selectedTab="visual">
        <div ngTab value="visual">Visual</div>
        <div ngTab value="taste">Taste</div>
    </div>

    <div>
        <div ngTabPabel value="visual">
            <h3>Visual</h3>
            <ul>
                <li>Colors: Black and purple, more saturated than bright</li>
                <li>Face: Tired and peaceful expressions with no lips</li>
                <li>Eyes: Shaped like the bottom half of a circle and slightly crossed in</li>
                <li>Shading: Flat lighting with gradients</li>
                <li>Outlines: Solid and dark, but affected by lighting</li>
                <li>Aesthetics: Arcadecore, Liminal Space</li>
                <li>Fashion: Pajamas, loose and oversized clothing, dolphin shorts</li>
                <li>Hair: Black, covering forehead and one eye, fluffy like a tree, with upwards curls around the ears</li>
                <li>Examples: <a href="https://x.com/shitanohidari/status/1721111619047158221/photo/1">Eyes</a>, <a href="https://x.com/Homriette/status/1760797395095265313/photo/1">Hair</a>, <a href="https://x.com/kei2468/status/2011000334110593084/photo/1">Shading</a>, <a href="https://x.com/Azsn10/status/1168856338534821888/photo/1">Fashion</a>, <a href="https://x.com/huasha1116/status/1506599026300362754/photo/1">Misc.</a></li>
                <li>(I wish people would draw more adult character designs in these styles...)</li>
            </ul>
        </div>
        <div ngTabPabel value="visual">
            <h3>Taste</h3>
            <ul>
                <li>Lunch: Grilled cheese with sourdough, sharp cheddar, and garlic seasoning</li>
                <li>Dinner: Domino’s pepperoni pizza and tater tots</li>
                <li>Snacks: Tim's salt and vinegar chips, seasoned popcorn</li>
                <li>Fruits/Vegetables: Peaches, edamame</li>
                <li>Sweets: Fudge, honeycomb</li>
            </ul>
        </div>
    </div>
</div>
<!--div class="container">
    <div class="titled_text">
        <h3>
            Visual
        </h3>
        <ul>
            <li>Colors: Black and purple, more saturated than bright</li>
            <li>Face: Tired and peaceful expressions with no lips</li>
            <li>Eyes: Shaped like the bottom half of a circle and slightly crossed in</li>
            <li>Shading: Flat lighting with gradients</li>
            <li>Outlines: Solid and dark, but affected by lighting</li>
            <li>Aesthetics: Arcadecore, Liminal Space</li>
            <li>Fashion: Pajamas, loose and oversized clothing, dolphin shorts</li>
            <li>Hair: Black, covering forehead and one eye, fluffy like a tree, with upwards curls around the ears</li>
            <li>Examples: <a href="https://x.com/shitanohidari/status/1721111619047158221/photo/1">Eyes</a>, <a href="https://x.com/Homriette/status/1760797395095265313/photo/1">Hair</a>, <a href="https://x.com/kei2468/status/2011000334110593084/photo/1">Shading</a>, <a href="https://x.com/Azsn10/status/1168856338534821888/photo/1">Fashion</a>, <a href="https://x.com/huasha1116/status/1506599026300362754/photo/1">Misc.</a></li>
            <li>(I wish people would draw more adult character designs in these styles...)</li>
        </ul>
    </div>
    <div class="titled_text">
        <h3>
            Taste
        </h3>
        <ul>
            <li>Lunch: Grilled cheese with sourdough, sharp cheddar, and garlic seasoning</li>
            <li>Dinner: Domino’s pepperoni pizza and tater tots</li>
            <li>Snacks: Tim's salt and vinegar chips, seasoned popcorn</li>
            <li>Fruits/Vegetables: Peaches, edamame</li>
            <li>Sweets: Fudge, honeycomb</li>
        </ul>
    </div>
</div-->
<h1>Ideology</h1>
<div class="container" style="padding-bottom: 30px;">
    <div class="titled_text">
        <h3>
            Elitism
        </h3>
        <span>
            I think the biggest problem that humanity needs to solve is the concentration of power into the hands of an elite class who use it to hoard everything they can, at the expense of everyone else. I don’t think it can be explained by a simple desire for infinite short-term wealth or “make line go up”. I think even more than that, they want power over others. That’s why they turn to sex trafficking, genocide, and exploitation when they could easily just live out their days in peace, leisure, and consensual love. Obviously regular people hurt each other too, but the frequency, intensity, and punishment of that hurt is very different. I’m not sure if “just un-concentrate power” on its own is even a good solution, not to mention the obvious obstacles to pulling that off.
        </span>
    </div>
    <div class="titled_text">
        <h3>
            Technology
        </h3>
        <span>
            Scientific progress was supposed to free up our time and improve quality of life so we could live sustainably on our own abilities, instead of living off the backs of global slave labor, animal abuse, and pollutants. I personally have avoided most of the downsides to the internet due to my lack of using it to socialize, but every year it is getting harder and harder to tolerate. As a kid, my dream was to develop a plan for a realistic virtual reality enabled by brain-computer interface, and present it to the heads of our tech companies, but after seeing the way they exploded machine learning beyond all of its reasonable uses, I am certain they would collectively fight against my plan, and steal my ideas to create something worse than I can imagine.
        </span>
    </div>
    <div class="titled_text">
        <h3>
            Nature VS Nurture
        </h3>
        <span>
            I generally believe in neuroplasticity over “human nature”, with the main caveat being it’s probably easier to build new habits than it is to unlearn current habits. It’s not like people forget how to crawl when they learn to walk. If I were to give a rough number, I would say about 90% of our behavior and identity develops as a response to the environments we exist in. If a stat says “X group of people have Y IQ points” and you interpret that as “X people are naturally that smart”, I am going to think you are a moron that shouldn’t hold any power over others. This doesn’t mean I think genes don’t matter, or being queer is a “choice”, but rather everyone is born asexual into a big society that pushes being straight and cis onto them, while at the same time, the butterfly effect can amplify small genetic and environmental differences into vastly different people.
        </span>
    </div>
    <div class="titled_text">
        <h3>
            Religion
        </h3>
        <span>
            Religious institutions have their use as third spaces and mutual aid networks, but many religious beliefs about how everything works, such as “karma”, an “afterlife”, the “end times”, or a “perfect creator”, are extremely toxic and should not be allowed in real world decision-making. On top of that, religion is often used to reinforce existing social hierarchies that shame people for harmless behavior or trying to build a fair society. The elite get to have Prosperity Gospel and free access to youth groups while the rest of us are stuck with some variation of “no hate like Christian love” for being feminist, queer, or simply rad.
        </span>
    </div>
    <div class="titled_text">
        <h3>
            Paradox of Tolerance
        </h3>
        <span>
            If you want to maximize freedom, you have to withhold power from people who will use it to take that freedom from others. For me it’s less a “paradox” and more a game of figuring out who should be excluded and how. It’s not that hard to judge who only wants freedom for themselves (Nazis for example). The main challenge seems to be if you try to censor said people, they will just disguise their beliefs with dogwhistles and plausible deniability, and continue to build up political momentum in other spaces with the help of financiers like Epstein himself apparently. Maybe it would be better to allow hate speech, but it has to be tagged as such and filterable. Better to drive a person away from violence than to drive a violent person away from society to grow even worse.
        </span>
    </div>
</div>