h1 {
  text-align: center;
  animation: fadeInDown 1s ease-out;
}
.container {
  margin: auto;
  max-width: 800px;
}
mat-tab-group {
  animation: fadeInDownDelay 1.5s ease-out;
}
span {
  text-align: center;
  max-width: 800px;
}
ul {
  list-style-type: none;
  max-width: 800px;
}
li + li {
  margin-top: 5px;
}