<div class="grid">
    <div class="container">
        <h1>Personality</h1>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="General">
                <ul>
                    <li>My favorite thing to do is think. The only way I can get bored is if I’m forced to perform certain high-stakes physical tasks like driving, or listen to people talk about stuff like sports. I always wondered why I seemed to have fewer social needs compared to others and thought it was just an autism thing, but recently I realized that I fulfill them with imaginary conversations and debates with myself. Despite my social life sounding like a human rights violation, I don’t feel lonely.</li>
                    <li>Normally I’m very calm and passive, but I also laugh easily and can’t hold a straight face.</li>
                    <li>My self-esteem is high enough that I think I'm better than other people, and part of that is treating them as equals despite that, along with leaving myself open to learning from others when their skills are demonstratably better than mine.</li>
                </ul>
            </mat-tab>
            <mat-tab label="Social">
                <ul>
                    <li>I love to help people, but hate to perform “niceness”. Whenever someone follows verbal social etiquette, like saying "Nice to meet you!" or "Thank you." it feels like they are lying. It's even worse when I have to do it myself. The best way for me to get along with others in a genuine manner is to lean into my curiosity.</li>
                    <li>I am cool with any type of wireless communication except for traditional phone calls. The sound quality is so bad I can barely hear what the other person is saying.</li>
                    <li>One-on-one conversations are way more productive for me than group settings. The topics tend to be more interesting too.</li>
                    <li>I am not into the idea of “opposites attract”, because I barely ever get a chance to interact with anyone similar to me.</li>
                    <li>I like works of art that are created by people, not robots.</li>
                </ul>
            </mat-tab>
            <mat-tab label="Humor">
                <ul>
                    <li>I put all my social skill points into being funny, so I can usually do it even in very dark situations.</li>
                    <li>My go-to jokes are to ask, "What is your favorite [obscure subject or wordplay]," or say, "I love when [weird rephrasing of what I just saw] happens."</li>
                    <li>Occasionally I can pull off crass humor if the opportunity is there, but I will never be threatening or invasive.</li>
                    <li>I can enjoy edgy/offensive jokes so long as the goal is actually to be funny, as opposed to some people who just use it as a guise to spread hate.</li>
                    <li>Non-exhaustive playlist of funny videos: <a href="https://www.youtube.com/playlist?list=PLzSOrDXwC-fR5BlTnW6uK7r7nA5zBNBPH" target="_blank">The Funny (Family Friendly)</a></li>
                </ul>
            </mat-tab>
            <mat-tab label="Love">
                <ul>
                    <li>If you judged entirely based on my behavior, you would probably think I'm asexual or vaguely prefer women only in an aesthetic sense. It is true that I have never looked at someone and thought "would smash", but the reality is I care more about the state of my own body than searching for a partner. If you don't get what I mean by that, you'll just have to be happy with everything else I'm open about. The upside is I became immune to a lot of social pipelines that drive people into sexism.</li>
                    <li>It took over two decades for me to encounter <a href="https://www.webtoons.com/en/comedy/mage-and-demon-queen/list?title_no=1438" target="_blank">a romance story</a> that made me understand why people love "love" so much. Up to that point, everytime I saw romantic subplots in popular stories like The Last Airbender and My Hero Academia, it always come across as friendship to me, like I'm the inverse of a homophobe.</li>
                    <li>I only "fell" for someone once in 11th grade when I met a classmate who hated P.E. as much as I did. It honestly didn't hurt that much to be ghosted after getting their number at the end of the school year, since I have plenty of people and interests to enjoy life with.</li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="container">
        <h1>Preferences</h1>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Visual">
                <ul>
                    <li>Colors: Black and purple, more saturated than bright</li>
                    <li>Face: Peaceful and tired expressions with minimal lips and nose</li>
                    <li>Eyes: Shaped like the bottom half of a circle, slightly crossed in, lit from the bottom up</li>
                    <li>Shading: Flat lighting with gradients</li>
                    <li>Outlines: Solid and dark, but affected by lighting</li>
                    <li>Aesthetics: Arcadecore, Liminal Space</li>
                    <li>Fashion: Pajamas, loose and oversized clothing, dolphin shorts</li>
                    <li>Hair: Black, covering forehead and one eye, fluffy like a tree, with upwards curls around the ears</li>
                    <li>(I wish people would draw more adult character designs in these styles. Tell me if you know any.)</li>
                    <li>Examples: <a href="https://x.com/shitanohidari/status/1721111619047158221/photo/1" target="_blank">Eyes</a>, <a href="https://x.com/Homriette/status/1760797395095265313/photo/1" target="_blank">Hair</a>, <a href="https://x.com/kei2468/status/2011000334110593084/photo/1" target="_blank">Shading</a>, <a href="https://x.com/Azsn10/status/1168856338534821888/photo/1" target="_blank">Fashion</a>, <a href="https://x.com/huasha1116/status/1506599026300362754/photo/1" target="_blank">Extra</a></li>
                </ul>
            </mat-tab>
            <mat-tab label="Sound">
                <ul>
                    <li>In general, the music I like the most has slow melodies with either fast percussion or none at all. Usually no singing either.</li>
                    <li>Some of my favorite songs: <a href="https://www.youtube.com/watch?v=j7x0rvNYCs4" target="_blank">Polaris</a>, <a href="https://www.youtube.com/watch?v=G72_-pQ9v5U" target="_blank">Ruins of Fiction</a>, <a href="https://www.youtube.com/watch?v=bXfHKEaDg4s" target="_blank">In the Mirror</a>, <a href="https://www.youtube.com/watch?v=0-WuHSQ1X2A" target="_blank">Pathway to the Hidden Isles</a>, <a href="https://www.youtube.com/watch?v=0OOWWNFTguY" target="_blank">Cherry Blossom Drops, Burning Spring</a>, <a href="https://www.youtube.com/watch?v=Hqe0TDID1KE" target="_blank">Forward</a>, <a href="https://www.youtube.com/watch?v=wq7BdtAFU5w" target="_blank">Aegleseeker</a></li>
                    <li>Favorite singers: <a href="https://www.youtube.com/watch?v=UqUH7LHMj50" target="_blank">Cassie Wei</a>, <a href="https://www.youtube.com/watch?v=HmkbBdD8044" target="_blank">Ado</a>, <a href="https://www.youtube.com/watch?v=iwZDx4DjYwE" target="_blank">Usachii</a>, <a href="https://www.youtube.com/watch?v=v4n7m0ScV_A" target="_blank">Aria Rose</a>, <a href="https://www.youtube.com/watch?v=ma3dIIpP7Kc" target="_blank">Chobom1221</a> (one hit wonder I guess)</li>
                    <li>I prefer studio-produced music over live performances, even in an ideal scenerio where I am the only listener there. I just like hearing the music more than destroying my ear bones with bass, treble, and reverb.</li>
                    <li>I don't like the sounds of birds screeching and chirping in the morning, but <a href="https://www.youtube.com/watch?v=y2O3_d0vnAA" target="_blank">Red Tail Hawks</a> sound oddly relaxing given enough distance.</li>
                </ul>
            </mat-tab>
            <mat-tab label="Touch">
                <ul>
                    <li>My body has a ridiculous internal temperature I'm told comes from my grandma. Because of that, my ideal room temperature is around 65°F. It's seriously hard to go on the tropical vacations the rest of my family loves.</li>
                    <li>If the temperature rises above 75°F, my body starts to sweat in a way that feels like I'm getting pricked all over with tiny needles.</li>
                    <li>For whatever reason, my tolerance for hot and cold reverses when it comes to bathing, and I have an equally hard time going into lake/ocean water.</li>
                    <li>I like to shave off my body hair so I can feel more of my clothes and bedding against my skin, and not get stabbed by my legs rubbing together. I'm working on reducing body hair with IPL, but the facial hair is seemingly impenetrable.</li>
                </ul>
            </mat-tab>
            <mat-tab label="Taste">
                <ul>
                    <li>In general: Savory > Sweet > Sour > Spicy > Bitter</li>
                    <li>Breakfast: I don't usually eat breakfast. Just a banana and a vitamin D gel is fine with me.</li>
                    <li>Lunch: Grilled cheese with sourdough, sharp cheddar, and garlic seasoning</li>
                    <li>Dinner: Domino’s pepperoni pizza and cheesy tater tots, garlic parmesean french fries</li>
                    <li>Snacks: Tim's salt and vinegar chips, Triscuit rosemary and olive oil crackers dipped in goat cheese, seasoned popcorn</li>
                    <li>Fruits/Vegetables: Peaches, green-ish bananas, raisins, edamame</li>
                    <li>Sweets: Frozen yogurt with toppings, fudge, honeycomb</li>
                </ul>
            </mat-tab>
            <mat-tab label="Smell">
                <ul>
                    <li>I think my nose is broken in some way. It's always halfway plugged and I can barely smell anything unless it's food or in my face.</li>
                    <li>I do like the smell of rain and that hot pink hand soap some public restrooms use.</li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="container">
        <h1>Goals</h1>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="General">
                <ul>
                    <li>I want to get a job that makes use of the problem-solving skills I spent my entire life developing. I don't want to get rich off of it. I just want to be in a position to work on my other goals and leave myself enough free time to live a life.</li>
                    <li>My main reason for living is to push technology towards realistic virtual reality and bring down unnecessary aspects of materialism, or at least live long enough for it to see it happen anyways if I can't do anything on my own. My biggest fear is that I'll catch some kind of terminal disease and be forced to live out my remaining days knowing my life was a waste.</li>
                    <li>I have an idea for a subversive story I want to tell, so even if I completely fail in life, there will at least be this one thing I can give back to the world. I'll need to learn how to draw first.</li>
                </ul>
            </mat-tab>
            <mat-tab label="Health">
                <ul>
                    <li>I have a bit of anterior pelvic tilt that pushes my stomach out and causes back pain if I don't lean against anything for a couple hours. I recently started doing some daily stretches to work on fixing it.</li>
                    <li>Although you normally can't see it over my clothes, I am slightly overweight. Discovering Beat Saber and switching to a standing desk briefly put me back into the healthy range, but eventually it restabilized around 28 BMI. Maybe that is the healthy number for me, but I'm not a fan of my stomach fat, even if it could be a lot worse. I'm trying to cut down on eating snacks, but I'm not very good at that.</li>
                    <li>My sleep cycle is late by several hours, so I'm working on doing my morning/night reading outsite of bed and setting my alarm earlier. It's very rare for me to actually feel tired, but the insane burning in my eyes every time I wake up makes it seriously hard to get out of bed.</li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="container">
        <h1>Ideology</h1>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Elitism">
                <span>
                    I think the biggest problem that humanity needs to solve is the concentration of power into the hands of an elite class of a few thousand people or so, who use it to hoard everything they can at the expense of everyone else. I don’t think it can be explained by a simple desire for infinite short-term wealth or “make line go up”. At worst, they may be sadists who want power over others. At best, they are complicit. That’s why so many of our most powerful people turn to sex trafficking, genocide, and exploitation when they could easily just live out their days in peace, leisure, and consensual love. Obviously regular people hurt each other too, but the ratio of intensity/punishment for that hurt is very different. I’m not sure if “just un-concentrate power” on its own is even a good solution, not to mention the obvious obstacles to pulling that off.
                </span>
            </mat-tab>
            <mat-tab label="Technology">
                <span>
                    Scientific progress was supposed to free up our time and improve quality of life so we could live sustainably on our own abilities, instead of living off the backs of global slave labor, animal abuse, and pollutants. I personally have avoided most of the downsides to the internet due to my lack of using it to socialize, but every year it is getting harder and harder to tolerate. As a kid, my dream was to develop a plan for a realistic virtual reality enabled by brain-computer interface, and present it to the heads of our tech companies, but after seeing the way they exploded machine learning beyond all of its reasonable uses, I am certain they would collectively fight against my plan, and steal my ideas to create something worse than I can imagine.
                </span>
            </mat-tab>
            <mat-tab label="Justice">
                <span>
                    I think society needs to move past the idea of inflicting pain and suffering on criminals, as opposed to simply taking away the power they abused and compensating victims. If that means separating a violent person from public life and placing them in a prison, there's no reason to additionally punish them with terrible living conditions, or take away their ability to live a happy life alone. On the other hand, we need to see more accountability for people in charge who choose profits over humanity. That doesn't mean I want the heads of CEOs that destroy the Earth, but rather the punishment should be something like banishment from the industry, instead of a miniscule fine that just becomes the "cost of business". The death penalty is stupid because you are killing acceptable sources of free labor.
                </span>
            </mat-tab>
            <mat-tab label="Nature VS Nurture">
                <span>
                    I generally believe in neuroplasticity over “human nature”, with the main caveat being it’s probably easier to build new habits than it is to unlearn current habits. It’s not like people forget how to crawl when they learn to walk. If I were to give a rough number, I would say about 90% of our behavior and identity develops as a response to the environments we exist in. If a stat says “X group of people have Y IQ points” and you interpret that as “X people are naturally that smart”, I am going to think you are a moron that shouldn’t hold any power over others. This doesn’t mean I think genes don’t matter, or being queer is a “choice”, but rather everyone is born asexual into a big society that largely pushes being straight and cis onto them, while at the same time, the Butterfly Effect can amplify small genetic and environmental differences into vastly different people.
                </span>
            </mat-tab>
            <mat-tab label="Religion">
                <span>
                    Religious institutions have their use as third spaces and mutual aid networks, but many religious beliefs about how everything works, such as “karma”, an “afterlife, "reincarnation”, the “end times”, or a “perfect lord”, are extremely toxic and should not be allowed in real world decision-making. On top of that, religion is often used to reinforce existing social hierarchies that shame people for harmless behavior or trying to build a fairer society. The elite get to have Prosperity Gospel and free access to youth groups while the rest of us are stuck with some variation of “no hate like Christian love” for being feminist, queer, or simply rad.
                </span>
            </mat-tab>
            <mat-tab label="Love">
                <span>
                    The whole idea that a romantic & sexual relationship is humanity's "highest form of love", and naturally occurs exclusively between men and women, never registered to me as something that people actually believe. It honestly seems less rational than arranged marriages of the past that were upfront about their political and reproductive motivations. That doesn't mean I think we should go back to that, but rather we shouldn't limit those kinds of love to only one person of the opposite sex, especially when there are so many kids up for adoption. It would also be nice to expand platonic love beyond family and same-sex friendships.
                </span>
            </mat-tab>
            <mat-tab label="Paradox of Tolerance">
                <span>
                    If you want to maximize freedom, you have to withhold power from people who will use it to take that freedom from others. For me it’s less a “paradox” and more an optimization problem of figuring out who should be excluded and how. It’s not that hard to judge who only wants freedom for themselves, with Nazis being the easy example. The main challenge seems to be if you try to censor said people, they will just disguise their beliefs with dogwhistles and plausible deniability, and continue to build up political momentum in alternate spaces with the help of financiers like apparently Epstein himself. Maybe a better strategy would be to allow hate speech, but requiring it to be tagged as such and filterable by the platform's users. Bigots of the more common and less radical variety tend to hate being called out as such. Better to shame a person away from violence than to drive a violent person away from society to grow even worse and eventually lash out.
                </span>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>