.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  row-gap: 50px;
  animation: fadeInDown 1s ease-out;
}

#discordName {
  text-decoration: underline;
  cursor: pointer;
}

#discordName:hover {
  color: #aa88ff;
}