<nav>
  <img src="./assets/Eyecon_small.png" alt="Icon">
  <a routerLink="/">Home</a>
  <a routerLink="/creations">Creations</a>
  <a routerLink="/hobbies">Hobbies</a>
  <a routerLink="/myself">Myself (WIP)</a>
  <a routerLink="/playground">Fun Tools (WIP)</a>
</nav>
<div style="height:100%">
    <router-outlet></router-outlet>
</div>
<footer>
  ©2026 The Lunar Carver | <a href="https://github.com/DreamRealitii/TheLunarWebsite" target="_blank">Source</a> | <a routerLink="/privacy">Privacy</a>
</footer>