@media screen and (min-width: 901px) {
  .container {
    padding-top: 1em;
    display: grid;
    height: 400px;
    grid-template-columns: 400px 400px;
    column-gap: 50px;
    place-content: center;
    place-items: center;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 1em;
    display: grid;
    grid-template-rows: auto auto;
    place-content: center;
    place-items: center;
  }
}

h1 {
  animation: fadeInDown 1s ease-out;
  grid-column: 1;
  text-align: center;
}

.image {
  animation: fadeInDelayLeft 1.5s ease-out;
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
  grid-column: 2;
  place-self: center;
}

p {
  animation: fadeInDelayUp 2s ease-out;
  grid-column: 1;
  text-align: center;
}

a {
  text-decoration: underline;
  color: #ffffff;
  grid-column: 1;
  text-align: center;
  width: 500px;
}