p {
  animation: fadeInDown 2s ease-out;
  text-align: center;
  max-width: 800px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 96px);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}