/* Application-wide Styles */
h1 {
  color: #fff;
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #ddd;
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  background-color: #000;
  color: #dddddd;
  margin: 1em;
  width: 100vw;
  height: 100vh;
}
button {
  background-color: #444444;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
a {
  text-decoration: underline;
  color: lightblue;
}

/* everywhere else */
* {
  font-family: Georgia, Helvetica, sans-serif;
}