.container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 500px 500px;
  column-gap: 50px;
  place-content: center;
  place-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
}

h1 {
  animation: fadeInDown 1s ease-out;
  grid-column: 1;
  text-align: center;
}

.icon {
  animation: fadeInDownDelay 2s ease-out;
  height: 500px;
  grid-column: 2;
  place-self: center;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 100% 0%;
    column-gap: 0px;
  }

  .icon {
    visibility: hidden;
  }
}

p {
  animation: fadeInDownDelay 3s ease-out;
  grid-column: 1;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}